<form [formGroup]="form">
  <fieldset>

    <app-template-control [form]="form"
                          formControlName="name"
                          label="Agency Name"
                          placeholder="Your agency name">
    </app-template-control>

    <div>
      <label for="range"> Operation range </label>
      <select name="range"
              id="range"
              formControlName="range"
              [attr.aria-invalid]="hasError('range')">
        <option selected
                value="">Select a range</option>
        <option *ngFor="let range of ranges"
                [value]="range.id">{{ range.name }}</option>
      </select>
      <small *ngIf="mustShowMessage('range')">{{ getErrorMessage('range') }}</small>
    </div>

    <label for="status"> Status </label>
    <app-template-control *ngFor="let status of statuses"
                          [form]="form"
                          formControlName="status"
                          inputType="radio"
                          [label]="status">
    </app-template-control>

  </fieldset>


  <div>
    <button type="submit"
            (click)="onSubmitClick()"
            [disabled]="form.invalid">
              Send new agency data
    </button>
  </div>

</form>
