<form [formGroup]="form">
  <fieldset>

    <app-input-template-control [form]="form"
                                formControlName="name"
                                label="Agency Name"
                                placeholder="Your agency name">
    </app-input-template-control>

    <div>
      <label for="range"> Operation range </label>
      <select name="range"
              id="range"
              formControlName="range"
              [attr.aria-invalid]="hasError('range')">
        <option selected
                value="">Select a range</option>
        <option *ngFor="let range of ranges"
                [value]="range.id">{{ range.name }}</option>
      </select>
      <small *ngIf="mustShowMessage('range')">{{ getErrorMessage('range') }}</small>
    </div>

    <!-- <div>
      <label for="status"> Status </label>
        <ng-container *ngFor="let status of statuses">
          <label for="status-{{status}}">
          <app-select-template-control *ngFor         ="let status of statuses"
                                      [form]          ="form"
                                      formControlName ="status"
                                      inputType       ="radio"
                                      value           ="status"
                                      [label]         ="label">
          </app-select-template-control>
                {{ status }}
      </label>
    </ng-container>
  </div> -->
  <div>
    <label for="status"> Operative status </label>
    <ng-container *ngFor="let status of statuses">
      <label for="status-{{status}}">
        <input name="status"
               type="radio"
               id="status-{{status}}"
               formControlName="status"
               [value]="status">
        {{ status }}
      </label>
    </ng-container>
  </div>


  </fieldset>


  <div>
    <button type="submit"
            (click)   ="onSubmitClick()"
            [disabled]="form.invalid">
              Send new agency data
    </button>
  </div>

</form>


