<nav>
  <a role="button"
     routerLink="agency/new">✨ Add a new agency</a>
</nav>
<br>
<app-search (search)="onSearch($event)"></app-search>

<app-agencies-list *ngIf="(agencies$ | async) as agenciesPadre ; else waiting "
                   [agenciesHijo]="agenciesPadre"
                   (reload)="onReload()">
</app-agencies-list>

<app-trips-list *ngIf="(trips$ | async) as trips"
                [tripsHijo]="trips">
</app-trips-list>

<ng-template #waiting>
  <h4>Waiting...</h4>
</ng-template>
