<!-- <label [for]="formControlName">{{ label | uppercase }}</label>
<input  *ngIf="inputType=='radio'"
         [type]="inputType"
         [id]="formControlName"
         [name]="formControlName"
         [value]="value"
         [label]="label"
         [placeholder]="placeholder"
         [attr.aria-invalid]="hasError(formControlName)"
         (click)="radioSelected($event)"
         (blur)="touchedCallBack()">

  <small *ngIf="mustShowMessage(formControlName)">
       {{ getErrorMessage(formControlName) }}
  </small> -->


      <input [name]="formControlName"
             [type]="inputType"
             [id]="formControlName"
             [placeholder]="placeholder"
             [attr.aria-invalid]="hasError(formControlName)"
             [formControlName]="formControlName"
             [value]="value"
             (click)="radioSelected($event)"
             (blur)="touchedCallBack()">

