  <nav>
                                                                                <ul>
      <li>
        <app-title></app-title>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/auth/register">🎙Registrar</a>
      </li>
      <li>
        <a routerLink="/auth/login">Login</a>
      </li>
      <li>
        <a routerLink="/agencies">Agencias</a>
      </li>
      <li>
        <a routerLink="/bookings">Bookings</a>
      </li>
      <li>
        <a routerLink="/trips">Trips</a>
      </li>
    </ul>
  </nav>
