<article>
  <h3> Trabajando con {{getAgenciesLength()}} agencias</h3>
  <ul>
    <li *ngFor="let agency of agenciesHijo">
      <a [routerLink]="['/','agencies','agency', agency.id ]"
         [ngClass]="agency.status | lowercase">{{ agency.name }}</a>
      <ng-container *ngIf="agency.range==='Interplanetary' then interplanetario; else orbital">Esto aparece</ng-container>
      <ng-template #interplanetario> 🎇 </ng-template>
      <ng-template #orbital> 🧨 </ng-template>
      <!-- <span *ngIf="agency.range==='Interplanetary'">🎇</span>
      <span *ngIf="agency.range==='Orbital'">🧨</span> -->
    </li>
  </ul>
  <button (click)="onReloadClick('agencies')"> 😎 </button>
</article>
