<form [formGroup]="form">
  <div>
    <fieldset>

      <div>
        <label for="tripId"> TripId</label>
        <select name="tripId"
                formControlName="tripId">
          <option value="">Select a trip</option>
          <option *ngFor="let trip of tripsHijo"
                  [value]="trip.id">{{ trip.id }}</option>
        </select>
        <small *ngIf="mustShowMessage('tripId')">{{ getErrorMessage('tripId') }}</small>
      </div>

      <app-input-template-control [form]="form"
                            formControlName="passengerName"
                            label="Passenger Name"
                            placeholder="Passenger name">
      </app-input-template-control>

      <app-input-template-control [form]="form"
                                  formControlName="date"
                                  inputType="date"
                                  label="Date">
      </app-input-template-control>

      <app-input-template-control [form]="form"
                            formControlName="luggageKilos"
                            type="number"
                            label="Luggage Kilos"
                            placeholder="Luggage Kilos">
      </app-input-template-control>

      <app-input-template-control [form]="form"
                            inputType="checkbox"
                            formControlName="hasPremiumFoodPrice"
                            label="Premium Food Price">
      </app-input-template-control>

    </fieldset>
  </div>

  <button [disabled]="form.invalid"
          (click)="onSubmitClick()">
                Save
  </button>
</form>
